{% extends 'base.html.twig' %}

{% block title %}Hello ShowController!{% endblock %}

{% block body %}
<div class="container">
    {{ form_start(form)}}
    {{ form_rest(form)}}
    <div id="u">
        <datepicker value="20-02-2020"></datepicker>
    </div>
    <button type="submit">ok</button>
    {{ form_end(form)}}
</div>

{% endblock %}
